<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" href="/img/favicon.ico">

<!-- Meta Data -->

<meta content="classic car motorbike storage midlands" name="keywords" />
<meta content="Car &amp; motorbike storage, near Birmingham, Coventry, Warwick, Oxford, Leamington Spa, Banbury and the Cotswolds" name="description" />
<meta name="DC.title" content="Car &amp; motorbike storage | Majestic Storage" />
<meta name="geo.region" content="GB-WAR" />
<meta name="geo.position" content="52.367451;-1.645287" />
<meta name="ICBM" content="52.367451, -1.645287" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:200,400" rel="stylesheet">

<title>Car &amp; motorbike storage | Majestic Storage</title>

<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88164614-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-88164614-2');
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SelfStorage",
  "image": [
    "https://www.majestic-storage.co.uk/img/splash-1.jpg"
   ],
   "logo":"https://www.majestic-storage.co.uk/img/logo.png" ,
  "@id": "https://wwww.majestic-storage.co.uk",
  "name": "Majestic Storage",
  "description": "Car and motorbike storage, near Birmingham, Coventry, Warwick, Oxford, Leamington Spa, Banbury and the Cotswolds",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Table Oak Farm",
    "addressLocality": "Table Oak Lane",
    "addressRegion": "Kenilworth",
    "postalCode": "CV8 1PX",
    "addressCountry": "UK"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 52.367451,
    "longitude": -1.645287
  },
  "url": "https://wwww.majestic-storage.co.uk",
  "telephone": "+1926658923",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "08:30",
      "closes": "17:00"
    }
  ]
}
</script>