<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" href="/img/favicon.ico">

<!-- Meta Data -->

<meta content="" name="keywords" />
<meta content="Majestic Motors is run by Ben Thompson and are based near Kenilworth in Warwickshire.  We specialise in classic cars & motorbikes and offer a range of services to preserve, restore or enhance your pride & joy." name="description" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:200,400" rel="stylesheet">

<title>Classic car & motorbike restoration, modification and customisation | Majestic Motors</title>
