<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=6456821361';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 justify-content-between">
        <div class="container">
            <a class="navbar-brand logo" href="/"><span class="sr-only">Navigation menu</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if '/' == page.url %}active{% endif %}">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if '/aboutcarstorage/' == page.url %}active{% endif %}">
                        <a class="nav-link" href="/aboutcarstorage/">About Us</a>
                    </li>
                    <li class="nav-item {% if '/howcarstorageworks/' == page.url %}active{% endif %}">
                        <a class="nav-link" href="/howcarstorageworks/">How it works</a>
                    </li>
                    <li class="nav-item {% if '/carstoragelocation/' == page.url %}active{% endif %}">
                        <a class="nav-link" href="/carstoragelocation/">Location</a>
                    </li>
                    <li class="nav-item {% if '/carstorageprices/' == page.url %}active{% endif %}">
                        <a class="nav-link" href="/carstorageprices/">Price List</a>
                    </li>
                    <li class="nav-item {% if '/contact/' == page.url %}active{% endif %}">
                        <a class="nav-link" href="/contact/">Contact Us</a>
                    </li>
                </ul>
                <div class="navbar-brand d-none d-lg-block desktop-contact p-3 mr-auto text-center">
                    <p class="pt-3 mb-0 phone-number"><a href="tel:+441926658923">01926 658923</a></p>
                    <p class="email"><a href="mailto:admin@majestic-motors.co.uk">admin@majestic-motors.co.uk</a></p>
                </div>
                <div class="mobile-contact d-lg-none p-3">
                    <div class="row">
                        <div class="col col-xs-7 addr"><p class="text-justify">Majestic Motors, Table Oak Farm, Table Oak Ln, Kenilworth, CV8 1PY<p></div>
                        <div class="col col-xs-5 phone-number text-right align-text-bottom"><p><a href="tel:+441926658923">01926 658923</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

