---
layout: site
---
<main id="services">
    <div id="aboutCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/img/alternator.jpg" alt="Picture of an alternator">
                <div class="carousel-caption w-50 d-none d-sm-block text-left">
                    <h1>Our Services</h1>
                    <p class="d-none d-md-block">Ut enim ad minum veniam, quis notas <br>rud exercitation ullamco laborisasta.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron business-description text-center jumbotron-fluid pl-5 pr-5">
            <h2>We offer a number of <em>specialist</em> &amp; <em>automotive services</em> to suit your needs. <br/>We are always keen to <em>tackle new &amp; interesting projects</em>.</h2>
            <p class="mt-5">Majestic Motors is run by Ben Thompson and is based near Kenilworth in Warwickshire.  We work with customers based in Coventry, Birmingham, Solihull, Leamington, Stratford Upon Avon and the West Midlands but also have people come from all over the country for our unique expertise, experience and ethos.</p>
            <p>We specialise in classic cars & motorbikes and offer a range of services to preserve, restore or enhance your pride & joy.  We can also help with kit cars, race preparation and design/manufacturing of replacement parts & components.</p>
        </div>
    </div>

    {{ content }}

</main>
